body {
  background: linear-gradient(135deg, #b86d6d, #ad4c4c);
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #0dcaf0;
  color: #000;
}

img {
  border: 1px solid #0dcaf0;
}
